<h1>Manage Your Coupons</h1>

<% @merchant.coupons.each do |coupon| %>
  <section id='coupon-<%=coupon.id%>'>
    <h3><%= link_to "#{coupon.name}", "/merchant/coupons/#{coupon.id}" %></h3>
    <p>Coupon Code: <%= coupon.code %></p>
    <p>Percentage Off: <%= coupon.percentage_off %></p>
    <p><%= link_to "Edit #{coupon.name}", "/merchant/coupons/#{coupon.id}/edit" %></p>
    <p><%= link_to "Delete #{coupon.name}", "/merchant/coupons/#{coupon.id}", method: :delete %></p>
  </section>
<% end %>

<%= link_to "Create New Coupon", "/merchant/coupons/new" %>
