<h1> Your Orders <h1>

  <% @orders.each do |order| %>
    <p><%= link_to "Order Number: #{order.id}", "/profile/orders/#{order.id}" %></p>
    <p> Order Created at: <%= "#{order.created_at.day}/#{order.created_at.month}/#{order.created_at.year}" %></p>
    <p> Order Updated at: <%= "#{order.updated_at.day}/#{order.updated_at.month}/#{order.updated_at.year}" %></p>
    <p> Order Status: <%= order.status %></p>
    <% if order.total_items < 2%>
      <p>Total Number of Items in Your Order: <%= order.total_items %> Item</p>
    <% else %>
      <p>Total Number of Items in Your Order: <%= order.total_items %> Items</p>
    <% end %>
      <p>Your Total: <%= number_to_currency(order.grandtotal) %></p>
    <br>
  <% end %>
