<h1>All Merchant's Items</h1>
<section class="grid-container">
  <% @items.each do |item| %>
    <section class ="grid-item" id= "item-<%=item.id%>">
      <%= link_to item.name, "/items/#{item.id}" %>
      <p>Item name: <%= item.name %></p>
      <p>Item description: <%= item.description %></p>
      <p>Item price: <%= item.price %></p>
      <%= link_to image_tag("#{item.image}"), "/items/#{item.id}", id: "#{item.id}-photo" %>
      <p>Item inventory: <%= item.inventory %></p>
      <% if item.active? %>
        <p>Item status: Active</p>
          <%= button_to "Deactivate #{item.name}", "/merchants/#{item.merchant.id}/items/#{item.id}", method: :patch %>
      <% else %>
        <p>Item status: Inactive</p>
          <%= button_to "Enable #{item.name}", "/merchants/#{item.merchant.id}/items/#{item.id}", method: :patch %>
          <% if item.no_orders? %>
            <%= button_to "Delete #{item.name}", "/merchants/#{item.merchant.id}/items/#{item.id}", method: :delete %>
          <% end %>
      <% end %>
    </section>
  <% end %>
</section>
