<% if @user.merchant != nil %>
  <h1><%= @user.merchant.name %></h1>
  <p>Address: <%= @user.merchant.address %></p>
  <p>City: <%= @user.merchant.city %></p>
  <p>State: <%= @user.merchant.state %></p>
  <p>Zip: <%= @user.merchant.zip %></p>

<section id="orders">
  <h2>Orders:</h2>
  <% @user.merchant.orders_info.each do |item_order| %>
    <% if item_order.order.status == "pending" %>
    <section id="order-<%= item_order.order_id %>">
      <%= link_to "#{item_order.order_id}", "/orders/#{item_order.order.id}" %>
      Order Creation Date: <%= item_order.order.created_at %>
      Total Quantity: <%= item_order.total_quantity %>
      Total Value: <%= number_to_currency(@user.merchant.order_price(item_order.order_id)/100) %>
    </section>
    <% end %>
  <% end  %>
</section>

<% else %>
  <p> You do not currently belong to a merchant in the system. </p>
<% end %>
